@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 20px;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

:root {
    --FO-COLOR: black;
    --BA-COLOR: radial-gradient(hsla(0, 0%, 50%, 0.486), hsla(0, 0%, 0%, 0.486));
    --FO-FAMILY-HEADING: Arial, Helvetica, sans-serif;
    --FONT-LINK: "Funnel Sans", sans-serif;
}

body {
    font-family: "Lexend", sans-serif;
    font-weight: 350;
    width: 100%;
    min-height: 100vh;
    background-image: var(--BA-COLOR);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

header {
    grid-row: 1;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 6rem;
    margin: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-bottom: 0.5rem;
}

ul a {
    font-family: var(--FONT-LINK);
    font-weight: 500;
    font-size: 3rem;
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

ul a:hover,
ul a:focus {
    text-decoration: underline;
    transform: scale(1.2);
}

ul a:active {
    text-decoration: none;
    transform: scale(0.9);
}


/* GALERIJA CSS FILE  */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
}

/*section{
    margin: 0;
    max-width: 100%;
}
video{
    margin: 0;
    max-width: 100%;
}*/

.slike {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /*gap: 10px;*/
}

.slike img{
    max-width: 100%;
    height: auto;
    display: grid;
    object-fit: cover;
    /*object-position: left;*/
}



/*niccc neee delaaaaa */

/*@media (prefers-color-scheme: dark) {
    :root{
        --BA-COLOR: radial-gradient(hsla(25%, 0%, 25%, 0.486), hsla(0, 0%, 0%, 0.486))
    }
}
*/