@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: var(--FO-COLOR);
}

:root {
    color-scheme: light;
    --FO-COLOR: black;
    --BA-COLOR: radial-gradient(#E3E3E3, rgba(0, 0, 0, 0.486));
    --FO-FAMILY-HEADING: Arial, Helvetica, sans-serif;
    --FONT-LINK: "Funnel Sans", sans-serif;
    --MARGIN-INPUT: 40px 0;
}

body {
    font-family: "Lexend", sans-serif;
    font-weight: 350;
    width: 100%;
    background-image: var(--BA-COLOR);
    display: grid;
}

header{
    text-align: center;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    font-weight: 400;
    font-size: clamp(2rem, 4vw, 5rem);
    margin-top: clamp(0.5rem, 2vw, 2rem);
}


form{
    border: none;
    margin: 0;
    padding: 0;
}

.vse {
    display: grid;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(5, auto);
    margin: 1.5rem 0 0;
}


.vse input, .vse textarea{
    box-sizing: border-box;
    color: black;
    background-color: #f0f0f0;
    text-align: center;
    font-size: clamp(0.5rem, 4vw, 2.5rem);
    /*width: max(15rem, 50%) !important;*/
    width: clamp(2rem, 50vw, 75rem);
    height: clamp(2rem, 8vw, 6rem);
    padding: 1rem;
    border: 2px solid var(--FO-COLOR);
    border-radius: 40px;
    scrollbar-width: none;
    overflow: initial;
}

::placeholder{
    color: hsla(0, 0%, 0%, 0.7);
    text-align: center;
    align-self: center;
    font-size: clamp(0.85rem, 3vw, 2.5rem);

}

.labl{
    font-size: clamp(1rem, 2vw, 2.5rem);
    margin: 1rem 0 0.25rem;
}


textarea {
    font-family: "Lexend", sans-serif;
    resize: none;
    font-size: 1rem;
    padding: 1.5rem 2rem;
    border: 2px solid var(--FO-COLOR);
    border-radius: 40px;
    overflow: auto;
}


.submit {
    font-size: clamp(1rem, 4vw, 3rem);
    font-family: "Lexend", sans-serif;
    border: solid;
    border-radius: 40px;
    width: max(10rem, 30%) !important;
    margin-top: 20px;
    padding: 0.5rem 0;
    transition: background-color 0.3s ease-in-out;
    background-color: hsla(120, 100%, 58%, 0.75);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.submit:hover,
.submit:focus {
    background-color: hsl(120, 100%, 50%);
    transform: translate(0, -5px);
}

.submit:active {
    background-color: hsla(120, 100%, 50%, 0.404);
    transform: translate(0, 5px);
}


.domov {
    display: inline-block;
    margin: 20px 0;
    padding: 3px 0;
    height: auto;
    width: max(10rem, 30%) !important;
    text-align: center;
    font-size: clamp(1rem, 4vw, 3rem);
    color: var(--FO-COLOR);
    background-color: #fff;
    font-family: var(--FONT-LINK);
    text-decoration: none;
    border: 2px solid var(--FO-COLOR);
    border-radius: 30px;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.domov:hover,
.domov:focus {
    background-color: #e3e3e3;
    text-decoration: underline;
    color: var(--FO-COLOR);
    transform: scale(1.1);
    font-size: 3.25rem;
}


footer {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.copy {
    width: 100%;
    display: block;
    height: auto;
}




.dam {
    color: var(--FO-COLOR);
    padding: 0 0 10px 0;
    font-size: 2rem;
}

@media (max-width: 600px){
    
    h1{
        margin-top: 2rem;
    }
    .vse{
        margin: 0.75rem 0 0;
    }
    textarea{
        margin: 0 0 1rem;
    }
    .submit{
        font-size: clamp(1.5rem, 5vw, 3.5rem);
    }
    .submit:hover, .submit:focus{
        transform: none;
        background-color: hsla(120, 100%, 58%, 0.75);
    }
    .submit:active{
        transform: none;
        background-color: hsla(120, 100%, 58%, 0.75);
    }
    .domov{
        font-size: clamp(1.5rem, 5vw, 3.5rem);
    }
    .domov:hover, .domov:focus{
        transform: scale(1.05);
    }
    .domov:active{
        background-color: #fff;
    }
}
