/* ROOT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 20px;
    color-scheme: white;
}

:root {
    color-scheme: light;
    --FO-COLOR: black;
    --BA-COLOR: radial-gradient(hsla(0, 0%, 60%, 0.486), hsla(0, 0%, 10%, 0.486));
    --FO-FAMILY-HEADING: Arial, Helvetica;
    --BORDER: 4px solid var(--FO-COLOR);
}

body {
    font-weight: 400;
    font-family: Helvetica;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    flex-wrap: wrap;
    color: var(--FO-COLOR);
}

strong {
    font-weight: 550;
}

img {
    display: flex;
}

/* ROOT-KONEC!!! */

.regi {
    display: none;
}


/* ZAČETNI POGLED, SLIKA, LINKI */
.btn_show {
    display: none;
}



.container {
    position: relative;
    display: flex;
    grid-row: 1;
    grid-column: 1/-1;
    width: 100%;
    height: 100svh;
    background-image: url("../img/Main.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-bottom: var(--BORDER);
    flex-wrap: wrap;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100svh;
    background-color: hsla(0, 0%, 0%, 0.5);
    grid-row: inherit;
    grid-column: inherit;
}

h1 {
    font-size: clamp(4rem, 10vw, 7rem);
    font-family: var(--FO-FAMILY-HEADING);
    color: white;
    text-shadow: 5px 0px 5px hsla(0, 0%, 0%, 0.589);
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60px;
}

ul a {
    font-weight: 500;
    font-size: 3rem;
    text-decoration: none;
    color: whitesmoke;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

ul a:hover,
ul a:focus {
    text-decoration: underline;
    transform: scale(1.2);
}


/* INSTAGRAM IKONA */

.Instagram_link {
    position: absolute;
    bottom: 22.5px;
    right: 22.5px;
    display: inline-block;
    height: auto;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.WhatsAPP_link {
    position: absolute;
    bottom: 22.5px;
    left: 22.5px;
    display: inline-block;
    height: auto;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.Instagram_link:hover {
    transform: scale(1.2) rotate(10deg);
}

.WhatsAPP_link:hover {
    transform: scale(1.2) rotate(10deg);
}

.Instagram_link img {
    display: block;
    height: auto;
    aspect-ratio: 1/1;
    width: clamp(35px, 4.5vw, 100px);
}

.WhatsAPP_link img {
    display: block;
    height: auto;
    aspect-ratio: 1/1;
    width: clamp(35px, 4.5vw, 100px);
}



/* INSTAGRAM IKONA KONEC*/


/* ZAČETNI POGLED, SLIKA, LINKI - KONEC!!!*/

/* MAIN */

main {
    padding-top: env(safe-area-inset-top);
    display: grid;
    flex-direction: column;
    grid-column: 1/-1;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
}

/* O NAS */

.O_nas {
    border-bottom: var(--BORDER);
    background-image: var(--BA-COLOR);
    display: grid;
    grid-column: 1/-1;
    grid-row: 1;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

.h2_onas {
    position: relative;
    z-index: 10;
    grid-row: 1;
    font-family: var(--FO-FAMILY-HEADING);
    margin: 10px 0 0 0;
    grid-column: 1/-1;
    text-align: center;
    font-size: clamp(1rem, 7.5vw, 4rem);
}

figure {
    margin: 0;
    padding: 0;
}

/* ALEŠ */

.vseodAles {
    text-align: justify;
    margin-top: 1rem;
    padding: 0;
    display: grid;
    grid-row: 2;
    grid-column: 1/-1;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    border-bottom: var(--BORDER);
}

.OpisAleš {
    grid-row: 2;
    grid-column: 2/-1;
    padding: 10px 2rem;
    align-items: center;
    justify-content: center;
    display: grid;
    letter-spacing: 1.2px;
    word-spacing: 2px;
    font-size: 1.5rem;
}

.BesediloAleš {
    font-family: Helvetica;
    font-weight: 400;
    font-size: clamp(0.75rem, 2.25vw, 1.75rem);
}

.OpisAleš p::first-letter {
    font-size: clamp(1.25rem, 3.25vw, 2.5rem);
}

.Aleš {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: auto;
}

.Aleš img {
    box-shadow: 1px 1px 50px -5px var(--FO-COLOR);
    height: auto;
    width: 100%;
    border-radius: 50%;
    max-width: 700px;
    aspect-ratio: 1/1;
}

/* ALEŠ - KONEC!!! */

/* SOTLAR */

.vseodSotlar {
    text-align: justify;
    display: grid;
    grid-column: 1/-1;
    grid-row: 3;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.Sotlar_opis {
    display: grid;
    grid-column: 1;
    padding: 10px 2rem;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.2px;
    word-spacing: 2px;
}

.BesediloSotlar {
    font-weight: 400;
    font-size: clamp(0.75rem, 2.25vw, 1.75rem);
    font-family: Helvetica;
}

.Sotlar_opis p::first-letter {
    font-size: clamp(1.25rem, 3.25vw, 2.5rem);
}

.Jure {
    display: grid;
    grid-column: 2;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: auto;
}

.Jure img {
    box-shadow: 1px 1px 50px -5px var(--FO-COLOR);
    height: auto;
    width: 100%;
    border-radius: 50%;
    max-width: 700px;
    aspect-ratio: 1/1;
}

/* SOTLAR - KONEC!!! */

/* MARK */

.vseodMark {
    text-align: justify;
    display: grid;
    grid-column: 1/-1;
    grid-row: 4;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    border-top: var(--BORDER);
    grid-template-rows: auto;
}

.Markopis {
    display: grid;
    grid-column: 2;
    padding: 10px 2rem;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.2px;
    word-spacing: 2px;
}

.BesediloMark {
    font-family: Helvetica;
    grid-row: 1;
    font-weight: 400;
    font-size: clamp(0.75rem, 2.25vw, 1.75rem);
}

.BesediloMark::first-letter {
    font-size: clamp(1.25rem, 3.25vw, 2.5rem);
}

.Mark {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: auto;
}

.Mark img {
    box-shadow: 1px 1px 50px -5px var(--FO-COLOR);
    height: auto;
    width: 100%;
    border-radius: 50%;
    max-width: 700px;
    aspect-ratio: 1/1;
}

/* MARK - KONEC!!! */

/* O NAS - KONEC!!! */

/* GALERIJA */

.Galerija {
    width: 100%;
    display: grid;
    background-image: var(--BA-COLOR);
    grid-column: 1/-1;
    grid-row: 2;
    border-bottom: var(--BORDER);
    padding-bottom: 2rem;
}

.Galerija h2 {
    font-family: Arial, Helvetica;
    text-align: center;
    font-size: clamp(1rem, 7.5vw, 4rem);
    margin: 1rem;
}

.slika_1{
    grid-area: slika_1;
}
.slika_2{
    grid-area: slika_2;
}
.slika_3{
    grid-area: slika_3;
}
.slika_4{
    grid-area: slika_4;
}
.slika_5{
    grid-area: slika_5;
}
.slika_6{
    grid-area: slika_6;
}
.slika_7{
    grid-area: slika_7;
}
.video_1{
    grid-area: video_1;
}

.slike {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 500px));
    grid-template-rows: auto;
    grid-template-areas: 
    "slika_1 slika_1 slika_2 video_1"
    "slika_3 slika_4 slika_5 video_1";
    gap: 2rem;
    padding: 1rem;
    place-content: center;
}

.slike img,
.slike video {
    min-height: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    translate: -75% 0;
    rotate: -90deg;
    scale: 1;
    opacity: 0;
    transition: scale 0.3s ease-in-out, opacity 0.75s ease-in-out, translate 0.75s ease-in-out, rotate 0.5s ease-in-out;
}
.slike img{
    max-height: 500px;
}
.slike img:not(:first-child){
    aspect-ratio: 1/1;
}
.slike img:first-child{
    aspect-ratio: 16/9;
}

.slike video{
    align-self: stretch;
    display: block;
    aspect-ratio: 9/16;
    max-width: 500px;
    height: 100%;
    width: 100%;
}
.slike img.show:hover,
.slike video:hover {
    scale: 1.05;
}

.slike img.show, .slike video.show{
    translate: 0 0;
    opacity: 1;
    rotate: 0deg;
}

/* GALERIJA - KONEC!!! */

/* TABELA */

.table {
    display: grid;
    grid-row: 3;
    grid-column: 1/-1;
    justify-items: center;
    align-items: flex-start;
    background-image: var(--BA-COLOR);
    padding: 10px 10px 20px 10px;
    table-layout: fixed;
    width: 100%;
}

tr,
th,
td {
    border: 2px solid var(--FO-COLOR);
    padding: 2rem;
    font-size: clamp(0.5rem, 3.75vw, 3rem);
    text-align: center;
}

td {
    background-color: rgba(59, 255, 255, 0.329);
    font-family: "Arial", Helvetica;
    font-weight: 400;
}

.zadnja td {
    padding: 10px !important;
}

th:first-child {
    border-radius: 15px 0 0 0;
}

th:last-child {
    border-radius: 0 15px 0 0;
}

.zadnja td:first-child {
    border-radius: 0 0 0 15px;
}

.zadnja td:last-child {
    border-radius: 0 0 15px 0;
}

.zadnja td {
    width: auto;
}

.Čas {
    /*TITLE TABELA*/
    font-family: var(--FO-FAMILY-HEADING);
    font-size: clamp(1rem, 7.5vw, 4rem);
    text-align: center;
}

th {
    font-family: "Arial", Helvetica;
    font-weight: 500;
    background-color: rgba(0, 255, 0, 0.404);
}

/* TABELA - KONEC!!! */

/* MAIN - KONEC!!! */

/* FOOTER */

/* KONTAKT */

footer {
    grid-column: 1/-1;
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-image: var(--BA-COLOR);
}

.Info {
    font-family: var(--FO-FAMILY-HEADING);
    display: grid;
    grid-row: 3;
    grid-column: 1/-1;
}

.h2_Info {
    text-align: center;
    font-size: clamp(1rem, 7.5vw, 4rem);
}

.foot {
    display: block;
    background-color: var(--BA-COLOR);
    width: 100%;
    height: auto;
}

.top {
    margin: 40px;
    display: inline-block;
    border: 3px solid var(--FO-COLOR);
    border-radius: 30px;
    width: 50%;
    text-decoration: none;
    color: var(--FO-COLOR);
    font-size: 3rem;
    transition:
        transform 0.3s ease-in-out,
        font-size 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}

.top:hover,
.top:focus {
    transform: scale(1.1);
    font-size: 3.25rem;
}

.copy {
    color: var(--FO-COLOR);
    font-size: clamp(10px, 2rem, 4rem);
}

footer {
    padding: 0 0 10px;
}

/* KONTAKT - KONEC!!! */

/* FOOTER - KONEC!!! */

/* MEDIA */

@media (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .top {
        margin: 0;
    }

    .OpisAleš,
    .Sotlar_opis,
    .Markopis {
        grid-row: 2;
        grid-column: 1/-1;
    }

    .Jure img,
    .Aleš img,
    .Mark img {
        max-width: 150px;
    }

    .Aleš,
    .Jure,
    .Mark {
        grid-row: 1;
        grid-column: 1/-1;
        max-width: 200px;
        margin: 0 auto;
    }

    .BesediloAleš,
    .BesediloSotlar,
    .BesediloMark {
        font-size: clamp(0.5rem, 4vw, 3.5rem) !important;
    }

    .BesediloAleš::first-letter,
    .BesediloSotlar::first-letter,
    .BesediloMark::first-letter {
        font-size: clamp(1rem, 5vw, 4.5rem) !important;
    }

    tr,
    th,
    td {
        border: 1.5px solid var(--FO-COLOR);
    }


    .container {
        max-height: 50vh;
        max-height: 50svh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .hide {
        display: none;
    }

    .slike {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "slika_2 video_1"
        "slika_3 video_1"
        "slika_1 slika_1"
        "slika_4 slika_5";
    }

    .regi {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5rem;
    }

    .regi p {
        color: white;
        font-size: clamp(2rem, 4.5vw, 3rem);
    }

    .regi a {
        font-weight: 500;
        text-decoration: none;
        color: whitesmoke;
        display: inline-block;
        font-size: clamp(2.5rem, 5.25vw, 3.5rem);
        margin-top: 0.5rem;
        transition: transform 0.3s ease-in-out;
    }

    .regi a:hover {
        transform: scale(1.2);
    }

    .copy {
        margin-top: 2rem;
    }

    .top {
        border: 2px solid var(--FO-COLOR);
    }

    .top:focus,
    .top:hover,
    .top:active {
        transform: none;
    }
}

/* ZA TELEFON DELA KR UREDU, ZA TABLICO PA OSTALO PA ŠE NE */

@media (min-width: 601px) and (max-width: 768px) {
    html {
        font-size: 12.5px;
    }

    .OpisAleš,
    .Sotlar_opis,
    .Markopis {
        grid-row: 2;
        grid-column: 1/-1;
    }

    .Aleš,
    .Jure .Mark {
        grid-row: 1;
        grid-column: 1/-1;
        max-width: 200px;
        margin: 0 auto;
    }

    tr,
    th,
    td {
        border: 1.5px solid var(--FO-COLOR);
    }

    .opis {
        font-size: 1.7rem;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .slike{
        grid-template-areas: 
        "slika_2 slika_3 slika_4 video_1"
        "slika_1 slika_1 slika_5 video_1";
    }

    .hide {
        display: none;
    }

    .regi {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
    }

    .regi p {
        color: white;
        font-size: clamp(1.5rem, 4.5vw, 3rem);
        font-weight: 500;
    }

    .regi a {
        font-weight: 500;
        text-decoration: none;
        color: whitesmoke;
        display: inline-block;
        font-size: clamp(1.75rem, 5.25vw, 3.5rem);
        margin-top: 0.5rem;
        transition: transform 0.3s ease-in-out;
    }

    .regi a:hover {
        transform: scale(1.2);
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    html {
        font-size: 15px;
    }

    .OpisAleš,
    .Sotlar_opis,
    .Markopis {
        grid-row: 2;
        grid-column: 1/-1;
    }

    .Aleš,
    .Jure,
    .Mark {
        grid-row: 1;
        grid-column: 1/-1;
        max-width: 200px;
        margin: 0 auto;
    }

    tr,
    th,
    td {
        border: 1.5px solid var(--FO-COLOR);
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    nav ul {
        margin-top: 2rem;
        gap: 30px;
    }


}

@media (prefers-color-scheme: dark) {
    :root {
        --BA-COLOR: radial-gradient(hsla(0, 0%, 60%, 0.486),
                hsla(0, 0%, 10%, 0.486)) !important;
    }
}